
.homePage{
   background: #FBE0DC;
   border-radius: 20px;
   height: 100%;

   // margin-left: 65px;
   position: relative;

   img{
      position: absolute;

      top:-30px;
      right: -30px;
   }
}

