.galleryFilterForm{
  height: 156px;
  background: #F8F8F7;
  padding: 20px;
  padding-top: 28px;

  border-radius: 20px;

  margin-bottom: 20px;
  form{
    display: grid;
    grid-template-columns: 290px 290px;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 28px;
  }
}

.fieldWrapper{
  width: 100%;
  position: relative;
 .selectField{
    padding: 0 10px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    background: #FFF url(../../../../assets/icons/breeds-page/select_arrow.svg) no-repeat right 10px center;
    cursor: pointer;
    &:focus{
      outline: 2px solid #FBE0DC;
    }
  }
  .element{
    display: inline-block;
    height: 40px;
    border: none;
    border-radius: 10px;
  
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  
    color: #1D1D1D;
  }

  label{
    position: absolute;
    top: -18px;
    left: 10px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;

    color: #8C8C8C;
  }

  .update{
    background: #fff url(../../../../assets/icons/gallery-page/update.svg) no-repeat center center;
    font-size: 0;
    cursor: pointer;
    &:active{
      outline: 2px solid #FBE0DC;
    }
  }

  &:last-child{
    display: grid;
    grid-template-columns: 1fr 40px;
    column-gap: 10px;
  }
}

.galleryFilterForm.black{
  background: rgba(255, 255, 255, 0.05);
  .element{
    background-color: #1D1D1D;
    color: #FFF;
  }
  .selectField{
    &:focus{
      outline: 2px solid rgba(255, 134, 142, 0.2);
    }
  }
  .update{
    &:active{
      outline: 2px solid rgba(255, 134, 142, 0.2);
    }
  }
}