.cover {
   width: 100vw;
   height: 100vh;
   z-index: 80;
   background: rgba(29, 29, 29, 0.6);
   position: absolute;
   @media (max-width: 540px)  {
      background-color: #f8f8f7;
   }
   @media (max-height: 830px)  {
      background-color: #f8f8f7;
   }
}


.UploadingPage {
   border-radius: 20px;
   height: 100%;
   width: 100%;

   background-color: #f8f8f7;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 90;

   font-family: "Jost";
   font-style: normal;
   font-size: 20px;

   padding: 20px;
   padding-top: 100px;
   text-align: center;

   h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 52px;
      color: #1d1d1d;
      margin-bottom: 10px;
   }
   p {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #8c8c8c;
      span {
         color: #ff868e;
      }
      &:last-of-type {
         margin: 20px 0px;
      }
   }

   .imageWrapper {
      margin-top: 40px;
      border: 2px dashed #fbe0dc;
      border-radius: 20px;
      width: 100%;
      height: 320px;
      @media (max-width: 480px) {
         height: 167.5px;
      }
      background: #ffffff url(../../../../assets/icons/upload-page/img_light.png) no-repeat center center;
      background-size: auto 64%;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      padding: 20px 40px;
      .image {
         position: relative;
         width: 100%;
         height: 100%;
         img {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
         }
      }
      span {
         color: #1d1d1d;
         font-weight: 500;
      }

      input {
         position: absolute;
         display: inline-block;
         width: 100%;
         height: 100%;
         font-size: 0;
         opacity: 0;
      }
   }

   .failure {
      background-color: #fbe0dc;
   }

   .btnClose {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 40px;
      height: 40px;

      background: #ffffff;
      border-radius: 10px;
      display: inline-block;
      background: #fff url(../../../../assets/icons/upload-page/btn-close.svg) no-repeat center center;

      font-size: 0;

      &:active {
         background: #ff868e url(../../../../assets/icons/upload-page/btn-close_active.svg) no-repeat center center;
      }
   }

   .btnUpload {
      display: inline-flex;
      background: #ff868e;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      padding: 12px 30px;
      span {
         font-family: "Jost";
         font-style: normal;
         font-weight: 500;
         font-size: 12px;
         line-height: 16px;

         text-align: center;
         letter-spacing: 2px;

         color: #ffffff;
      }
   }

   .result {
      width: 100%;
      height: 60px;
      padding-left: 50px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      // justify-content: center;
      align-items: center;
      span {
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         color: #8c8c8c;
      }
   }

   .result_success {
      background: #ffffff url(../../../../assets/icons/upload-page/success.svg) no-repeat center left 20px;
   }

   .result_failure {
      background: #ffffff url(../../../../assets/icons/upload-page/failure.svg) no-repeat center left 20px;
   }

   @media (max-width: 640px) {
      h2 {
         font-size: 30px;
      }
   }
   @media (max-width: 540px) {
      .imageWrapper {
         margin-top: 20px;
      }
      position: fixed;
      border-radius: none;
      h2 {
         font-size: 26px;
      }
      .btnUpload {
         width: 100%;
      }
      .btnClose {
         position: absolute;
         right: 20px;
         top: 20px;
         width: 60px;
         height: 60px;

         background: #ffffff;
         border-radius: 20px;
         display: inline-block;
         background: #fff url(../../../../assets/icons/upload-page/btn-close.svg) no-repeat center center;
         background-size: 25.4px;
         font-size: 0;

         &:active {
            background: #ff868e url(../../../../assets/icons/upload-page/btn-close_active.svg) no-repeat center center;
         }
      }
   }
   @media (max-height: 830px) {
      overflow-y: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      &::-webkit-scrollbar {
         width: 0 !important;
         height: 0;
         display: none !important;
         background: transparent;
      }
      .imageWrapper {
         margin-top: 20px;
      }
      position: fixed;
      border-radius: none;
      h2 {
         font-size: 26px;
      }
      .btnUpload {
         width: 100%;
      }
      .btnClose {
         position: absolute;
         right: 20px;
         top: 20px;
         width: 60px;
         height: 60px;

         background: #ffffff;
         border-radius: 20px;
         display: inline-block;
         background: #fff url(../../../../assets/icons/upload-page/btn-close.svg) no-repeat center center;
         background-size: 25.4px;
         font-size: 0;

         &:active {
            background: #ff868e url(../../../../assets/icons/upload-page/btn-close_active.svg) no-repeat center center;
         }
      }
   }
   @media (max-width: 480px) {
      h2,
      p {
         font-size: 20px;
      }
      .imageWrapper {
         height: 167.5px;
         padding: 10px 20px;
      }
   }
}

.UploadingPage.black {
   background: #282828;
   h2 {
      color: #ffffff;
   }
   .imageWrapper {
      background: rgba(255, 255, 255, 0.05) url(../../../../assets/icons/upload-page/img.png) no-repeat center center;

      border: 2px dashed rgba(255, 134, 142, 0.2);
      span {
         color: #ffffff;
      }
   }

   .result_success,
   .result_failure {
      background-color: rgba(255, 255, 255, 0.05);
   }

   .btnClose {
      background-color: rgba(255, 255, 255, 0.05);
      &:active {
         background-color: #ff868e;
      }
   }
}
