.content{
   flex: 50% 0 1;
   position: relative;
}

.page{
   height: 770px;
   display: grid;

   grid-template-rows: 60px 1fr;
   background-color: #fff;
   border-radius: 20px;
   padding: 20px;
}

.pageOnVoting{
   height: 782px;
}

.wrapper {
   overflow: hidden;
   position: relative;
   box-sizing: border-box;
   // display: grid;
   // grid-template-rows: 1fr;
   display: flex;
   flex-direction: column;
 }