.searchForm{
   height: 60px;
   margin-bottom: 10px;

   form{
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr repeat(3, 60px);
   }

   input, button{
      border-radius: 20px;
      height: 60px;
      background-color: #fff;
      display: inline-block;
      outline: none;
      border: none;
      box-sizing: border-box;
   }

   .inputWrap{
      position: relative;
      button.searchBtn{
         display: inline-block;
         position: absolute;
         width: 40px;
         height: 40px;

         top: 10px;
         right: 10px;
         background: #FBE0DC;
         border-radius: 10px;
         background: #FBE0DC url(../../assets/icons/search-form/search.svg) no-repeat center center;
         &:active{
         background: #FF868E url(../../assets/icons/search-form/search_active.svg) no-repeat center center;

         }
      }
   }

   input{
      padding: 0 20px;
      width: 100%;
      &:focus{
         outline: 2px solid #FF868E;
      }
   }

   button{
      font-size: 0px;
      width: 60px;
      cursor: pointer;
      &:first-of-type{
         background: #fff url(../../assets/icons/search-form/likes.svg) no-repeat center center;
         &:active{
         background: #FF868E url(../../assets/icons/search-form/likes_active.svg) no-repeat center center;
         }
      }
      &:nth-of-type(2){
         background: #fff url(../../assets/icons/search-form/favourities.svg) no-repeat center center;
         &:active{
         background: #FF868E url(../../assets/icons/search-form/favourites_active.svg) no-repeat center center;
         }
      }
      &:last-of-type{
         background: #fff url(../../assets/icons/search-form/dislikes.svg) no-repeat center center;
         &:active{
         background: #FF868E url(../../assets/icons/search-form/dislikes_active.svg) no-repeat center center;
         }
      }
      &:hover{
         background-color: #FBE0DC;
      }
   }

   button.likes_active{
      background: #FF868E url(../../assets/icons/search-form/likes_active.svg) no-repeat center center;
   }
   button.dislikes_active{
      background: #FF868E url(../../assets/icons/search-form/dislikes_active.svg) no-repeat center center;
   }
   button.favourities_active{
      background: #FF868E url(../../assets/icons/search-form/favourites_active.svg) no-repeat center center;
   }
   
}

.searchForm.black{
   input, button{
      background-color: rgba(255, 255, 255, 0.05);
      color: #fff;
   }

   button:active{
      background-color: #FF868E;
   }
   
   button.likes_active,
   button.dislikes_active,
   button.favourities_active{
      background-color: #FF868E;
   }
   button.searchBtn{
      background-color: rgba(255, 134, 142, 0.2);
   }
}