
.App {
  text-align: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  position: relative;
  background-color: #f8f8f7;
  height: 100%;
  color:#1D1D1D;
}

.black{
  background-color: #1D1D1D;
  color:#FFF;

}

input, button{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}


.container{
  display: inline-block;
  margin: auto;
  width: 1420px;

  box-sizing: border-box;

  padding: 30px;
  
}

.wrapper{
  display: flex;
  height: 840px;
  
}