.App {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  position: relative;
  background-color: #f8f8f7;
  height: 100%;
  color: #1d1d1d;
  display: flex;
  justify-content: center;
}

.black {
  background-color: #1d1d1d;
  color: #fff;
}

input,
button {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.container {
  display: inline-block;
  /* margin: 0 auto; */
  width: 1440px;
  padding: 30px;

  box-sizing: border-box;
}

.wrapper {
  width: 1420px;
  padding: 30px;
  display: flex;
  justify-content: center;
  max-height: 900px;
  /* overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; */
  
}
/* .wrapper::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
  display: none !important;
  background: transparent;
} */

@media (max-width: 1230px) {
  .wrapper {
    flex: 680px 0 1;
  }
}

@media (max-width: 550px) {
  .wrapper {
    padding: 20px;
  }
}
